# SECRETS
{% set ansible_fact_data = ansible_facts | default({}) %}
{% set default_ipv4 = ansible_fact_data.get('default_ipv4', {}) %}
{% set default_ip = default_ipv4.get('address', '127.0.0.1') %}
db_password: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters+digits') }}"
api_key: "{{ lookup('password', '/dev/null length=20 chars=ascii_letters+digits') }}"
api_key3: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
api_key4: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
api_key5: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
api_key6: "{{ lookup('password', '/dev/null length=50 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+-.*') }}"
user_name: "{{ lookup('password', '/dev/null length=5 chars=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz') }}"
server_name: "{{ inventory_hostname | default('localhost') }}"
server_ip: "{{ default_ip }}"
server_email: "{{ sot_config.vault_mail }}{{ default_ip }}"
opt_data_dir: "{{ sot_config.opt_data_dir }}"
system_name: "{{ sot_config.system_name }}"
username: "{{ sot_config.username }}"
log_level: "{{ sot_config.log_level }}"
log_file: "{{ sot_config.log_file }}"
os_family: "{{ ansible_fact_data.get('os_family', 'unknown_os_family') }}"
kernel_version: "{{ ansible_fact_data.get('kernel', 'unknown_kernel_version') }}"





# Beispielkonfiguration
# Datenbankkonfiguration
#db_host: "localhost"
#db_port: 3306
#db_name: "example_db"
#db_user: "admin"
#db_password: "securepassword123"

# API-Schlüssel
#api_key: "123456789abcdef"

# Benutzerkonfiguration
#users:
#  - name: "john_doe"
#    password: "password123"
#    roles:
#      - "admin"
#      - "developer"
#  - name: "jane_doe"
#    password: "password456"
#    roles:
#      - "user"

# Weitere Konfigurationen
#site_name: "Example Site"
#admin_email: "admin@example.com"
#enable_feature_x: true
#max_connections: 100
